body{
    background-image: url('../imagenes/fondopaginaweb_liga2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

table{
    border-collapse: collapse;
    background-color: white;
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid black;
    padding: 0.5vw;
    font-size: 0.8vw;
}

.reglas{
    background-color: #323232;
    color: #ff2c22;
}

caption{
    font-size: 2vw;
    padding: 0.3em;
}